*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
html,
body{
    height: 100%;
    width: 100%;
}
/* remixicon for icons */
nav{
    padding: 10px 10px;
    background-color: white;
    width: 100%;
    height: 9vh;
    position: fixed;
    font-size: 20px;
    z-index: 10000;
}
nav>img{
    height: 70%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
nav>span{
    padding-right: 15px;
    position: absolute;     
    right:0 
}
.headerlogo{
    padding: 0 40px;
    width: 100%;
    margin-top: 6%;
    margin-bottom: 1%;
}
.big-links{
    text-align: center;

}
.big-links>a{
    color: black;
    margin: 1% auto;
    width: 95%;
    font-size: 120px;
    font-weight: 500;
    font-family: helvetica;
    text-decoration: none;
}
.big-links> a:hover{
    color: rgb(93, 13, 158);
    text-decoration: underline;
}
.big-dot{
    font-size: 150px;
    line-height: 120px;
}
marquee{
    font-family: Helvetica;
    background-color: rgb(232, 11, 166);
    font-size: 40px;
    font-weight: 500;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}
video{
    width: 100%;
    border-bottom: 1PX solid black;
}
.belowvideo{
    padding: 20px;
}
.belowvideo>em{
    font-size: 20px;
    font-weight: 200;
    font-family: Helvetica;
    
}
p{
    font-size: 70px;
    font-family: helvetica;
}
.learnmore{
    padding: 40px;
    font-family: Helvetica;
    font-size: 55px;
    color: black;
    margin-bottom: 100px;
    display: block;
}
.learn-more:hover {
    color: rgb(43, 98, 226);
}

.book-now {
    font-weight: 400;
    padding-top: 30px;
    font-size: 80px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.table-div {
    position: relative;
}

.table-div > a {
    text-decoration: none;
    padding-bottom: 5px;
    border-bottom: 2px solid black;
    color: black;
    position: absolute;
    right: 0;
    top: 70%;
    font-size: 20px;
}

.table-div > a:hover {
    color: rgb(43, 98, 226);
    border-color: rgb(43, 98, 226);
}

.table-structure {
    list-style-type: none;
}

.table-structure > li {
    position: relative;
    font-size: 20px;
    padding: 10px;
    border-bottom: 1px solid black;
}

.table-structure > li:last-child {
    border-bottom: none;
    margin-bottom: 100px;
}

.table-structure .duration {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.table-structure .price {
    position: absolute;
    right: 10px;
}

.box-container1 {
    width: 100%;
    height: 80%;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    position: relative;
}

.left-box1 {
    width: 50%;
    height: 100%;
    border-right: 1px solid black;
    padding: 10px;
}

.right-box1 {
    width: 50%;
    height: 100%;
    padding: 10px;
    position: absolute;
    left: 50%;
    top: 0;
}

.right-box1 > div,
.left-box1 > div {
    background-color: black;
    width: 100%;
    height: 100%;
    padding: 50px;
    position: relative;
}

.left-box1 > div > h1,
.right-box1 > div > h1 {
    font-weight: 500;
    font-size: 110px;
    color: white;
}

.left-box1 > div > span,
.right-box1 > div > span {
    font-size: 110px;
    color: white;
    position: absolute;
    top: 70%;
    left: 10%;
}

.advt-slider1 {
    border-bottom: 1px solid black;
    font-size: 100px;
}

.advt-slider1 > img {
    height: 100px;
    transform: translateY(15px);
}

.advt-slider1 > span {
    font-size: 100px;
    font-weight: 600;
}
.strip{
    display: flex;
    background-color: rgb(232, 11, 166);

}
.s1{
    width: 50%;
    height:100px;
    display: flex;
    justify-content: start;
    align-items: center;
}
.s1 h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 80px;
}
.s2{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 50%;
}
.s2 p{
    font-size: 30px;
    
}
.antim{
    display: flex;
}
.antim1{
    padding: 10px;
    width: 33.3%;
}
.antim1 img{
    width: 70px;
}
.antim1 p{
font-size: 20px;
margin-bottom: 5px;
}
.antim1 h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: 400;
}